
#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .card {
    width: 292px;
    /* height: 415px; */
    margin: 20px;
    background-color: #fff;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 15px;
  }

  .card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .card .content {
    padding: 20px;
  }
  .icons {
    display: flex;
  }

  .card p {
    margin: 0;
    color: #333;
    font-size: 20px;
    font-weight: bold;
  }

  .card .icons{
    margin-top: 10px;
    gap: 20px;
  }

  .card .icons1 {
    margin-top: 10px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
  }


  .card .icons img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }
  .card .icons1 .img  {
    width: 35px;
    height: 35px;
    margin-right: 5px;
  }
  .card .icons1 img  {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  .card .icons span {
    color: #666;
    opacity: 0.5;
  }

  .card .icons1 span{
    font-weight: bold;
  }


  .heart-container {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50%;
  }

  .heart {
    position: absolute;
    top: 10;
    left: 8px;
    width: 100%;
    height: 100%;
    background-color: rgb(222, 217, 217);
    clip-path: path(
      "M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"
    );
  }

  .heart.clicked {
    background-color: red;
  }
  .flex {
    display: flex;
    align-items: center;
  }

  .flex1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
  }

  .flex1 .img{
    width: 500px;
  }

  /* .star {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 24px;
  color: rgb(52, 10, 240);
} */